<div style="display: flex;">
<div style="flex: 1; margin: 20px; background-color: cornsilk; height: 400px;">
  <h2 style="color: rgba(0, 0, 255, 0.534); "> About Us</h2>
  <div>
    <h3>
we are an American cloud-based software company headquartered in San Francisco, California.
we provides customer-relationship management service and also sells a complementary suite of enterprise applications focused on customer service, marketing automation, analytics, and application development.

</h3></div>

</div>
<div style="flex: 1; margin: 20px; background-color: cyan; ">

  <h1 >ABOUT US</h1>
</div>

</div>
<img src="assets/images.png" style="height: 600px; width: 1450px; padding: 0px 30px;"/>
