
<div style="background-color: rgb(116, 116, 228);">
<div class="o">
  <h1 style="padding: 20px;">Our Products</h1>
  <div style="display: flex;">
  <div><img src="assets/images/TV.png" style="height: 200px; width: 200px; padding: 20px 20px;"/>
    <button class="b">Add to Cart</button> </div>
  <div><img src="assets/images/wm.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
  <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
  <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
  </div>


  <div style="display: flex;">
    <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
    <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
    <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
    <div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/><button class="b">Add to Cart</button> </div>
    </div>

  </div>
</div>
