<div class="o">
<h1 style="padding: 20px;">Our Gallery</h1>
<div style="display: flex;">
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
</div>


<div style="display: flex;">
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>
<div><img src="assets/images.png" style="height: 200px; width: 200px; padding: 20px 20px;"/></div>

</div>
</div>
